# Python
__pycache__/
*.pyc
*.log
.Python
env/
venv/
pip-wheels/
.venv/

# Django
*.sqlite3
db.sqlite3
media/

# Environment variables & secrets
.env
.flaskenv

# OS-specific files
.DS_Store
.idea/
.vscode/
Thumbs.db
